/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.fill-remaining-space {
	flex: 1 1 auto;
}

.small-margin.mat-mini-fab {
	margin: 5px;
}

table {
	width: 100%;
}