<mat-toolbar color="primary">
	<h1>Welcome to {{title}}! <span *ngIf="!production"> DEBUGING VERSION </span></h1>
	<span class="fill-remaining-space"></span>
	<mat-form-field>
		<input matInput (keyup.enter)="applyFilter($event.target.value)" (blur)="applyFilter($event.target.value)" placeholder="filter">
	</mat-form-field>
	<button class='small-margin' mat-mini-fab (click)="refresh()"> <mat-icon>refresh</mat-icon> </button>
	<button mat-mini-fab (click)="clean()"> <mat-icon>delete</mat-icon> </button>
</mat-toolbar>

<table mat-table [dataSource]="items" class="mat-elevation-z8">
	<ng-container matColumnDef="hostName">
	<th mat-header-cell *matHeaderCellDef>Host name</th>
	<td mat-cell *matCellDef="let element">{{element.hostName}}</td>
	</ng-container>

	<ng-container matColumnDef="checkName">
	<th mat-header-cell *matHeaderCellDef>Check name</th>
	<td mat-cell *matCellDef="let element">{{element.checkName}}</td>
	</ng-container>

	<ng-container matColumnDef="state">
	<th mat-header-cell *matHeaderCellDef>State</th>
	<td mat-cell *matCellDef="let element">{{element.state}}</td>
	</ng-container>

	<ng-container matColumnDef="output">
	<th mat-header-cell *matHeaderCellDef>Output</th>
	<td mat-cell *matCellDef="let element">{{element.output}}</td>
	</ng-container>

	<ng-container matColumnDef="longOutput">
	<th mat-header-cell *matHeaderCellDef>Long Output</th>
	<td mat-cell *matCellDef="let element">{{element.longOutput}}</td>
	</ng-container>

	<ng-container matColumnDef="time">
	<th mat-header-cell *matHeaderCellDef>Time</th>
	<td mat-cell *matCellDef="let element">{{element.time}}</td>
	</ng-container>

	<ng-container matColumnDef="cpuTime">
	<th mat-header-cell *matHeaderCellDef>CPU Time</th>
	<td mat-cell *matCellDef="let element">{{element.cpuTime}}</td>
	</ng-container>
	
	<ng-container matColumnDef="nbMetrics">
	<th mat-header-cell *matHeaderCellDef>Nb Metrics</th>
	<td mat-cell *matCellDef="let element">{{element.metrics.length}}</td>
	</ng-container>
	
	<ng-container matColumnDef="remove">
	<th mat-header-cell *matHeaderCellDef>Remove</th>
	<td mat-cell *matCellDef="let element"><button mat-icon-button color="accent" (click)="remove($event, element)"> <mat-icon>delete</mat-icon> </button></td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openDialog($event, row)"></tr>
</table>
<mat-paginator [length]="resultsLength"></mat-paginator>
