<form  class="dial-container" novalidate #form="ngForm">
	<h2 mat-dialog-title> 
		Editing {{data.hostName}} - {{data.checkName}} 
		<mat-icon *ngIf="mustSave">save</mat-icon>
	</h2>

    <mat-form-field> 
        <mat-select name="state" [(ngModel)]="data.state" placeholder="state"> 
            <mat-option value="OK">OK</mat-option> 
            <mat-option value="WARNING">WARNING</mat-option> 
            <mat-option value="CRITICAL">CRITICAL</mat-option> 
            <mat-option value="UNKNOWN">UNKNOWN</mat-option> 
            <mat-option value="FLAPPING">FLAPPING</mat-option> 
        </mat-select> 
    </mat-form-field>
    <mat-form-field> 
        <input matInput name="output" [(ngModel)]="data.output" placeholder="output"> 
    </mat-form-field>
    <mat-form-field> 
        <textarea matInput name="longOutput" [(ngModel)]="data.longOutput" placeholder="longOutput"></textarea> 
    </mat-form-field>
    <mat-form-field> 
        <input matInput name="time" [(ngModel)]="data.time" placeholder="time"> 
    </mat-form-field>
    <mat-form-field> 
        <input matInput name="cpuTime" [(ngModel)]="data.cpuTime" placeholder="cpu time"> 
    </mat-form-field>
    
	<h3>
		Passive 
		<mat-checkbox name="passive" [(ngModel)]="data.passive"></mat-checkbox>
		<span class="fill-remaining-space"></span>
		<button mat-icon-button color="accent" (click)="doCallPassive()"> <mat-icon>flight_takeoff</mat-icon> </button>
	</h3>
	
	<mat-form-field> 
        <input matInput name="passiveServerUri" [(ngModel)]="data.passiveServerUri" placeholder="server uri"> 
    </mat-form-field>
	<mat-form-field> 
        <input matInput name="passiveFrequency" [(ngModel)]="data.passiveFrequency" placeholder="frequency"> 
    </mat-form-field>
    
    <h3>
        Metrics
        <button mat-icon-button color="accent" (click)="addMetric()" > <mat-icon>add_circle_outline</mat-icon> </button>
    </h3>
    
    <div class="metric" *ngFor="let metric of data.metrics; let i = index">
        <mat-form-field class="name">
            <input matInput [(ngModel)]="metric.name" placeholder="name" name="{{'name-'+i}}">
        </mat-form-field>
        <mat-form-field>
	        <mat-select [(ngModel)]="metric.type" placeholder="type" name="{{'type'+i}}">
	            <mat-option value="SINUS">SINUS</mat-option>
	            <mat-option value="TRIANGLE">TRIANGLE</mat-option>
	            <mat-option value="RECT">RECT</mat-option>
	            <mat-option value="SAW">SAW</mat-option>
	        </mat-select>
        </mat-form-field>
        <mat-form-field class="small" >
            <input matInput [(ngModel)]="metric.unit" placeholder="unit" name="{{'unit'+i}}">
        </mat-form-field>
        <mat-form-field class="small" >
            <input matInput [(ngModel)]="metric.warning" placeholder="warning" name="{{'warning'+i}}">
        </mat-form-field>
        <mat-form-field class="small" >
            <input matInput [(ngModel)]="metric.critical" placeholder="critical" name="{{'critical'+i}}">
        </mat-form-field>
        <mat-form-field class="small" >
            <input matInput [(ngModel)]="metric.min" placeholder="min" name="{{'min'+i}}">
        </mat-form-field>
        <mat-form-field class="small" >
            <input matInput [(ngModel)]="metric.max" placeholder="max" name="{{'max'+i}}">
        </mat-form-field>
        
        <button mat-icon-button color="accent" (click)="onRemoveMetric(metric)"> <mat-icon>delete</mat-icon> </button>
    </div>
</form>

