.dial-container {
  display: flex;
  flex-direction: column;
}

.dial-container.form > * {
  width: 100%;
}

.metric > .mat-form-field {
  font-size: 13px;
}

.metric > .mat-form-field.small{
	max-width: 100px;
}

